.flex-container {
    background-color: black;
    width: 100%;
    height: 80px;
    color : white;
    display:flex;
    flex-direction:row;
    justify-content:center;
    position: fixed;
    top:0px;
    left :0px;

}
a{

position: relative;
padding:30px;
text-align: center;
    color:white;
    text-decoration : none;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Jua';

}
.link:hover{
    background-color:rgb(51, 153, 255);
    color :black;
    font-size:20px;
    transition:  0.6s ease;

}
ul {
    top :30px;
    margin: auto;
}
#alsosav {
    background-color: black;
    width: 100%;
    height: 80px;
    bottom:0px;
    position: fixed;
    left :0px;
}
html{
    background-image: url("../képek/háttérkép/republic.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    z-index: 1;



}
#logo {
   position: absolute;
    top :10%;
    left: 15%;
    height: 70%;
    width: 70%;
    transition: 1s ease-in;
    animation: megjelenes 1s;




}
@keyframes megjelenes{
    0% { opacity: 0}
    5% { opacity: 0.05}    10% { opacity: 0.1}
    15% { opacity: 0.15}    20% { opacity: 0.2 }
    25% { opacity: 0.25 }    30% { opacity: 0.3 }
    35% { opacity: 0.35}    40% { opacity: 0.4 }
    45% { opacity: 0.45 }    50% { opacity: 0.5 }
    55% { opacity: 0.55 }    60% { opacity: 0.6 }
    65% { opacity: 0.65 }    70% { opacity: 0.7 }
    75% { opacity: 0.75 }    80% { opacity: 0.8 }
    85% { opacity: 0.85 }    90% { opacity: 0.9 }
    95% { opacity: 0.95 }    100% { opacity: 1 }

}

#lotus{
    width : 50px;
    height : 63px;
    position: fixed;
    top : 7px;
    left :40px;
}
#lotus:hover{
    width : 60px;
    height : 75px;
    transition: 0.5s;
}
#fooldalgomb{
    padding-right: 100px;
}
#container {
    background-color: rgba(0, 0, 0, 0.9);
    width: 70%;
min-height: 1000px;
    margin: 20px auto;
    color: white;
    padding: 50px;
    top :100px;

}
.kepek{

    float: left;
    height: 50%;
    width: 50%;
    margin: 20px 50px 0px 0px;
    border-radius: 20px;
}
.karakterkep{

    float:left;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}


p{
    font-size: 20px;

}
section{
padding-top: 80px;
    padding-bottom: 80px;

}
.alcim{
    float: left;
    font-size: 40px;

}

.kepdoboz{
    float: left;
}
tr{
    padding-top: 80px;
    padding-bottom: 80px;
}
.karakterek{
    padding: 20px;
    bottom: 100px;
    width : 80%;

}
audio{
    padding: 10px;


}
#bejelentkezes{
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    color:black;
    right: 20px;
    height: 20%;
    width: 10%;
    border-style: solid;
    text-decoration : none;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Jua';
}
#bejelentkezes:hover{
    background-color: black;
    border-style: solid;
    border-color: white;
    color: white;
    transition: 0.5s;
}
#bejelentkezo{
    color : black;
    background-color: rgb(153, 204, 255,0.8);
    width: 70%;
    margin: 100px auto;
    height: 500px;
    padding: 50px;
    border-radius: 20px;


}
input{
    margin: 8px;
    border-radius: 10px;
}
.placeholder{
    padding: 5px;
    width: 100%;

}
.gomb:hover{
    background-color: black;
    border-style: solid;
    border-color: white;
    color: white;
    transition: 0.5s;


}
#avatar{
    float: right;
    height: 60%;
    width: 35%;
    display: inline;
}
form{
    float: left;
}
#felgomb{
    margin :20px;
    padding: 5px;
    float: right;
    background-color: white;
    color: black;

}
#felgomb:hover{
    background-color: black;
    border-style: solid;
    border-color: white;
    color: white;
    transition: 0.5s;
}
#vilaga{
    font-size: 50px;
    margin:20px 20px 20px 20px;
}
video{
    width: 100%;
    height: 100%;
}
.artwork{
    width: 100%;
    border-radius: 10px;
 }
.artwork:hover{
    width: 150%;
    position: relative;
   transition: 1s;
}
nav{

    z-index: 100;
}


li{
    padding: 20%;

}




.ugro{
    padding: 5px;
    margin: 0;
    font-size: 15px;
}
.ugro:hover{
    background-color: black;
    border-style: solid;
    border-color: white;
    color: white;
    transition: 0.5s;
}

nav ul li{
    display: inline;
    padding: 20px ;

}
.oldal{
    margin :20px;
    padding: 5px;
    float: left;
    color: white;
}


@media print {
    p { font-size: 12pt; }
    html {background-image: none}
    #container { background-color: white;
    color: black;
    }
    nav {
        display: none;
    }
    video, audio {
        display: none;
    }
}
#kijelentkezo{
    text-decoration: none;
    padding: 5px;
    margin: 0;
    color: black;
    background-color: white;
}